@font-face {
  font-family: "SevenSegment";
  src: url("fonts/7 Segment.ttf");
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden; /* prevent normal scrolling */
}

.container {
  position: fixed; /* stays put even when user scrolls */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu-bar {
  position: fixed;
  top: 67%;
  left: 0;
  height: 33vh;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
}

#menu-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-info-div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: 180px;
  padding: 0 3%;
  background-color: #AAAAAAAA;
}

.page-info-text {
  font-family: "SevenSegment", sans-serif;
  font-size: 60px;
  white-space: nowrap;
}

/* invisible but participates in sizing */
.ghost {
  position: relative;
  visibility: hidden;
  pointer-events: none;
}

/* visible, centered text */
.visible {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.content-pane {
  position: fixed;
  top: 0;
  height: 67vh;
  width: 100vw;
}

.content-block-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1vw;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.25s ease;

  justify-content: center;  /* centers grid horizontally */

  top: 5%;
  width: 66%;
}

.content-block {
  background-color: antiquewhite;
  border-radius: 1vw;
  aspect-ratio: 4/3;
}

.page-panel {
  position: relative;
  top: 50%;
  right: 10%;
  transform: translate(-50%,-50%);
  height: 33vh;
  width: fit-content;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  min-width: 0;
}

.menu-text {
  color: #777;
  font-weight: 500;
  width: fit-content;
  transition: color 0.25s ease, font-weight 0.25s ease;
  cursor: pointer;
  padding: 0.5em;
}

.menu-text.active {
  color: #222;
  font-weight: 700;
}

.menu-text:hover:not(.active) {
  color: #333;
}
